<!DOCTYPE html>
<html>
<head>
<title>Caesar Cipher</title>
<style type="text/css">
	body {
		text-align: center;
		font-size: 20px;
		font-family: helvetica;
	}
	.heading{
		height: 10%;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		padding-top:50px;
		overflow: hidden;
		background-color:;

	}
	.main {
		height: 90%;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		padding-top:50px;
		overflow: hidden;
		background-color: #89E0FA;
		position: fixed;
	}
</style>
</head>
<body>

<div class="heading">
	<h1>Caeser Cipher</h1>
</div>
<div class="main">
	<form>
		<input type="text" name="input">
		<select name="shift">
			<option value="1">1</option>
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
		</select>
		<input type="submit" value="Encode">
	</form>




	<p>
	<%=message%>
	</p>
</div>



</body>
</html>